.card_style{
    cursor: pointer;
    transition: .3s;
    width: 22rem;
    border: none;

    &:hover{
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
    }

    .card-img{
        height: 16rem;
    }
}