.bg-body-tertiary {
    position: relative;
    background-color: white !important;

    .container {
        border-bottom: 1px solid black;
        padding: 0;

        .navbrand {
            color: black;
            font-size: 30px;
            text-decoration: none;
            padding-bottom: 12px;
        }

        .navbar-toggler {
            position: absolute;
            top: 18px;
            border: none;
        }

        .item {
            padding: 29px 0 29px;
            margin-inline: 10px;
            border-bottom: 2px solid transparent;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.5);

            &.active {
                color: red;
                border-bottom: 2px solid red;
            }
        }

        .fa-cart-shopping {
            font-size: 25px;
            cursor: pointer;
            color: black;
        }

        .btn-logout {
            border: none;
            border-radius: 20px;
            background-color: orange;
            color: white;
            padding: 2px 10px;
            margin-left: 10px;
        }
    }
}

@media screen and (max-width:992px) {
    .navbrand {
        margin-left: 60px;
    }
}