.about-section {
    .about-self {
        padding: 60px 0;

        .about-paragraph {
            font-size: 22px;
        }
    }

    .leadership-principles {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px 14px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);

        .card-heading{
            margin-bottom: 30px;
            color:rgb(220,153,0) ;
        }

        .card-paragraph {
            padding-bottom: 30px;
            margin: 0;
            flex: 1 1;
        }

        .btn {
            border: 1px solid rgb(112,115,121);
            border-radius: 20px;
            padding: 10px 15px;
            font-size: 14px;
            width: 139px;
        }
    }

    .img-section {
        padding: 40px 0;

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
            max-height: 773px;
        }
    }
}

@media screen and (max-width:992px) {
    .col-12 {
        margin-bottom: 25px;
    }
}