.contact-form {
    width: 390px;
    margin: 0 auto;
    border: 1px solid #80808082;
    padding: 20px 20px 30px;
    border-radius: 10px;

    .btn {
        width: 100%;
        background-color: #ffff00b8;
        margin-top: 20px;
    }
}