.contact-section{
    .my-contact-section{
        text-align: center;
        padding: 10px;
        strong{
            padding-bottom: 6px;
            border-bottom: 2px solid gray;
        }
    }
    .contact-form-section{
        padding: 10px;
        background-color:  #ff8c00d4;
        border-radius: 5px;
        .btn{
            background-color: white;
            border-radius: 20px;
        }
    }
}